/*
 *
 * Common styles
 *
 */


/** {
    border-style: solid;
    border-color: red;
    border-width: 1px;
}*/

/*.container-fluid {
    padding: 0;
}*/

/*Styles to start a Bootstrap project*/

body {
  margin: 50px;
  padding-top: 10px;
  background-color: blue;
}
/*[class*="col-"], footer {
  background-color: lightgreen;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}*/

.jumbotron {
  background-color: blue;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  border: 1px ;
}



.option-one button{
  font-size: 3em;
  width:500px;
  height: 150px;
  background: white;
  color: blue;
  border: none;
  padding: 20 0;
}

.or-separation {
  
  color: white;
}

.option-two button {
  font-size: 3em;
  width:500px;
  height: 150px;
  color: blue;
  background: white;
  border: none;
}

.options-home {



}

.bloc-reponse{
 margin-top: 200px;
  font-size: 3em;
  width:500px;
  height: 150px;
  background: white;
  color: blue;
  border: none;
  padding: 20 0;
}




/*
 *
 * Navigation
 *
 */


/*
 *
 * Header
 *
 */


/*
 *
 * Welcome Section
 *
 */


 /*
 *
 *  Footer
 *
 */

