/*
 *
 * Common styles
 *
 */


/** {
    border-style: solid;
    border-color: red;
    border-width: 1px;
}*/

/*.container-fluid {
    padding: 0;
}*/

/*Styles to start a Bootstrap project*/

body {
  padding-top: 10px;
}
[class*="col-"], footer {
  background-color: lightgreen;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}

.option-one {
  margin-top: 200px;
  margin-bottom: 100px;
}

.or-separation {
  margin: 100px 0 100px 0;
}

.option-two {
  margin: 100px 0 100px 0;
}

/*
 *
 * Navigation
 *
 */


/*
 *
 * Header
 *
 */


/*
 *
 * Welcome Section
 *
 */


 /*
 *
 *  Footer
 *
 */

